@model IEnumerable<FirstWebMVC.Models.Person>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="DownLoad" class="btn btn-success">DownLoad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quequan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quequan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@using (Html.BeginForm(FormMethod.Get, new{id = "forml"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{page = page,pagesize = ViewBag.psize}), 
new PagedListRenderOptions{LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }})
        </div>
            <div class="col-md-1">
        @Html.DropDownList("pageSize",null,new {@class="form-select"})
            </div> 
    </div>
}
<script scr="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#pageSize").change(function () {
            $("#forml").submit();
        })
    })
</script>
